<ng-container *ngIf="appState$ | async as appState" [ngSwitch]="appState.dataState">
  <ng-container *ngSwitchCase="DataState.LOADED_STATE">
    <div class="main-container">
      <div class="daily-container">
        <div class="daily-header">
          <div class="daily-title">
            <div>Daily Log</div>
            <button data-bs-toggle="modal" data-bs-target="#addEntryModal">
              <i class="material-icons">add</i>
            </button>
          </div>
          <div *ngIf="selectedDate$ | async as selectedDate" class="daily-info">
            <div>{{ selectedDate.toLocaleDateString() }}</div>
            <div class="daily-inf-btn">
              <button (click)="onPreviousDayClick()">
                <i class="material-icons">keyboard_arrow_left</i>
              </button>
              <button (click)="onNextDayClick()">
                <i class="material-icons">keyboard_arrow_right</i>
              </button>
            </div>
          </div>
          <div class="daily-content">
            <ul>
              <li *ngFor="let entry of appState.appData.data.entries" [ngClass]="{ important: entry.isImportant }">
                <div>
                  <input type="checkbox" />
                  {{ entry.text }}
                  <i *ngIf="entry.isImportant" class="material-icons priority_high">&#xe645;</i>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<!-- Add entry Modal -->
<div id="addEntryModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #entryForm="ngForm" (ngSubmit)="saveEntry(entryForm)">
        <div class="modal-header">
          <h4 class="modal-title">Add Entry</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="form-check">
              <input type="checkbox" ngModel name="isImportant" class="form-check-input" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault"> Is important </label>
            </div>
          </div>
          <div class="form-group">
            <label>Text</label>
            <input type="text" ngModel name="text" class="form-control" required autocomplete="off" />
          </div>

          <div class="form-group">
            <label>Type</label>
            <select name="type" ngModel="TASK" class="form-control" name="type" required>
              <option value="TASK">TASK</option>
              <option value="NOTE">NOTE</option>
              <option value="EVENT">EVENT</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" id="closeModal" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" [disabled]="entryForm.invalid || (isLoading$ | async)" class="btn btn-success">
            <i *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm text-dark"></i>
            <span *ngIf="isLoading$ | async">Saving...</span>
            <span *ngIf="!(isLoading$ | async)">Add</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
