<ng-container *ngIf="appState$ | async as appState" [ngSwitch]="appState.dataState">
  <ng-container *ngSwitchCase="DataState.LOADED_STATE">
    <div class="main-container">
      <div class="daily-container">
        <div class="daily-header">
          <div class="daily-title">
            <div>Daily Log</div>
            <button>
              <i class="material-icons">add</i>
            </button>
          </div>
          <div *ngIf="selectedDate$ | async as selectedDate" class="daily-info">
            <div>{{ selectedDate.toLocaleDateString() }}</div>
            <div class="daily-inf-btn">
              <button>
                <i class="material-icons">keyboard_arrow_left</i>
              </button>
              <button>
                <i class="material-icons">keyboard_arrow_right</i>
              </button>
            </div>
          </div>
          <div class="daily-content">
            <ul>
              <li *ngFor="let entry of appState.appData.data.entries">
                <div>
                  <input type="checkbox" />
                  {{ entry.text }}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
