.daily-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.daily-header {
  min-width: 350px;
  background-color: rgb(240, 240, 240);
  padding: 5px;
  border-radius: 4px;
}

.daily-title {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  padding-bottom: 8px;
}

.daily-title button {
  border: none;
}

.daily-title button > i {
  border-radius: 50px;
}

.daily-title button :hover {
  background-color: rgb(228, 228, 228);
}

.daily-title button :active {
  background-color: rgb(196, 196, 196);
}

.daily-info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.daily-info button {
  border: none;
  padding: 0;
}
.daily-info button > i {
  font-size: 16px;
}

.daily-info button :hover {
  background-color: rgb(228, 228, 228);
}

.daily-info button :active {
  background-color: rgb(196, 196, 196);
}

.daily-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.daily-content li {
  background-color: white;
  margin: 3px;
  padding: 5px;
  border-radius: 4px;
}

.modal-header {
  padding: 0.8rem;
}
